* {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    /* padding: 0;
    margin: 0; */
    box-sizing: border-box;
    /* border: 2px solid black; */
  }
  
  body {
    /* background-color: rgb(253, 253, 253); */
    color: rgb(5, 5, 5);
    font-family: "Poppins", sans-serif;
  }
  
  /* NAV BAR */
  .nav__flex__container {
    background-color: white;
    height: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 3% 2%;
    z-index: 10;
    align-content: center;
    font-size: 13px;
  }
  .logo__container{
    margin-left: -18px;
    width: 100px;
    height: 40px;
  }
  .logo{
    width: 100%;
    height: 100%;
  }
  /* tooltip */
  .category__tooltip {
    position: relative;
    display: inline-block;
  }
  .category__tooltip .category__tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgb(253, 253, 253);
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 5px 0;  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
  }
  .category__tooltiptext{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  .anchor__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  span>a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    line-height: 1.9rem;
  }
  .fa-search{
    color: #898b8a;
  }
  /* sub tooltip */
  .sub_category__tooltip .sub_category__tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: rgb(253, 253, 253);
    color: rgb(8, 8, 8);
    text-align: center;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0;
    left: 124%;
    border-left:2px solid rgb(83, 81, 81);
    margin-left: -60px;
  }
  .sub_category__tooltip:hover .sub_category__tooltiptext {
    visibility: visible;
  }
  .sub_category__tooltiptext{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
  }
  .input__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: transparent;
    width: 41%;
    height: 47px;
    position: relative;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f6f8f6;
  }
  input{
    width: 97%;
    height: 100%;
    border-radius: 20px;
    border: 1px solid transparent;
    outline: none;
    background-color: #f6f8f6;
  }
  .fa-search{
    width: 30px;
    height: 30px;
  }
  .button__flex__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
  }
  .login_btn, .signup_btn{
    width: 80px;
    height: 43px;
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1rem;
  }
  .login_btn{
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  .signup_btn{
    background-color: black;
    color: white;
    border: 1px solid black;
  }
  .globe{
    height:43px ;
    border: 1px solid black;
    align-items: center;
    padding: 8px;
    background-color: white;
  }
  /* section one */
  .section__one{
    background-image: url("udemy-home.jpg");
    width: 100%;
    height: 70vh;
    margin-top: 5%;
  }
  .section_one_text{
    position: absolute;
    background-color: white;
    top: 25%;
    left: 8%;
    width: 33%;
    height: 23vh;
  }
  .section_one_text>p{
    margin: 10px;
  }
  .section_one_text>h1{
    margin: 10px;
  }

  /* section two */
  .section__two{
    margin: 2%;
  }
  .sec_two_h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    font-size: 40px;
  }
  .course{
    font-weight: bold;
    color: rgb(112, 109, 109);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    padding: 0 9px;
  }
  .python{
    font-weight: bold;
    color: rgb(8, 8, 8);
    font-size: 15px;
    font-family: "Poppins", sans-serif;
  }
  
/* SECTION THREE */
  .all_section3_card{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  .video__box{
    background-color: transparent;
    width: 100%;
    height: 142px;
  }
  .card_image{
    width: 100%;
    height: 100%;
    align-content: center;
    overflow-wrap: unset;
    position: relative;
    z-index: -1;
  }
  .section_three_cards{
    width: 230px;
  }
  .tooltip_left {
    position: relative;
    display: inline-block;
  }
  .tootip_div>ul {
    list-style: none;
  }
  
  .tootip_div>ul li:before {
    content: '✓';
  }
  /* image section3 tooltip left*/
  .tooltip_left .tooltiptext_left {
    font-size: 15px;
    visibility: hidden;
    width: 350px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align:left;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 100%;
  }
  .tooltip_left .tooltiptext_left::after {
    content: "";
    position: absolute;
    top: 40%;
    right: 100%;
    margin-top: -5px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent rgb(243, 232, 232) transparent transparent;
    
  }
  .tooltip_left:hover .tooltiptext_left {
    visibility: visible;
  }
  .tooltip_h3{
    padding: 0;
    margin: 0;
  }
  .update{
    color: rgb(4, 107, 68);
    font-size: 11px;
  }
  .tooltip_para{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 20px
  }
  /* section3 text styling */
  .section__three{
    border: 1px solid rgb(214, 207, 207);
    margin: 2%;
    padding: 2%;
  }
  .video__box_one{
    border: 1px solid rgb(214, 207, 207);
  }
  .white_Python_btn{
    background-color: white;
    width: 120px;
    height: 40px;
    font-weight: bold;
    margin-bottom: 3%;
    border: 1px solid rgb(41, 39, 39);
  }
  .sec_three_h2{
    padding-top: 1%;
    font-size:22px ;
  }  
  .sec_3_paragraph{
    font-size: 15px;
  }
  h5{
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  .light_text{
    font-size:11px ;
    color: rgb(112, 110, 110);
    padding-top: 5px;
    margin: 0;
  }
  .light_number{
    font-size:12px ;
    color: rgb(112, 110, 110);
  }
  .stars{
    color: rgb(201, 140, 8);
    align-items: baseline;
    height: 10px;
  }
  .strong{
    height: 5px;
    height: 3px;
  }
  .star_image{
    width: 70px;
    height: 100%;
  }
.bestseller{
  font-weight: bold;
  width: 80px;
  height: 26px;
  color: rgb(63, 48, 7);
  border: 0;
  background-color:#eceb98;
}
 /* image section3 tooltip right*/
 .tootip_div{
  border: 1px solid rgb(194, 186, 186);
  padding: 20px;
}
.tooltip_right {
  position: relative;
  display: inline-block;
}
.tooltip_right .tooltiptext_right {
  font-size: 15px;
  visibility: hidden;
  width: 350px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -100px;
  right: 100%;
}
.tooltip_right .tooltiptext_right::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 100%;
  margin-top: 50px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(243, 232, 232) ;
}
.tooltip_right:hover .tooltiptext_right {
  visibility: visible;
}
.add_to_Cart_btn{
  width: 70%;
  height: 50px;
  background-color: #a435f0;
  border: 1px solid transparent;
  margin-right: 10px;
}
  .tooltip_btn_div{
    display: flex;
    align-items: center;
    /* border: 1px solid rgb(15, 15, 15); */
    align-content: center;
  }
  .fa-heart{
    border: 1px solid rgb(15, 15, 15);
    color: #020202;
    border-radius: 25px;
    padding: 10px;
  }


/* pop up window */
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0);
  padding: 35px;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #616462;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06d85e00;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
/* section four */
.section_four{
  padding: 2%;
}

  /* section five */
  .flex_five{
    display: flex;
    justify-content:start;
    gap:14%;
    font-size: 15px;
  }
    /* section five */
    .flex{
      display: flex;
      justify-content: space-between;
    }
    .business_image{
      width: 100%;
      height: 60vh;
    }
  .section_five{
    margin-top: 100px;
    padding:40px ;
    padding-left:-20px;
    background-color: #f7f9fa;
  }
  .topic_anchor{
  color:#6a3ed5;
  font-weight: bold;
  }
  .explore_btn{
    background-color: rgba(255, 255, 255, 0);
    width: 150px;
    height: 40px;
    font-weight: bold;
    margin-bottom: 3%;
    border: 1px solid rgb(41, 39, 39);
  }
  .lighter_text{
    color: #616462;
  }

  /* section_six */
  .section_six>h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
  
  }
  .section_six{
    padding: 6%;
    margin-bottom: 5%;
  }
  .section_six>p{
    text-align: center;
    padding-top: 0;
    padding-bottom: 2%;
  }

  /* section_seven */
  .flex_seven{
    flex-wrap: wrap;
    display: flex;
    justify-content:center;
    gap:5%;
    font-size: 15px;


  }
  .section_seven_text_wrapper{
    width: 400px;
    height: 500px;
    /* border: 2px solid black; */
  }
  .business_logo_div{
    width: 180px;
    height: 60px;
    border: 2px solid black;
  }
  .business_logo{
    width: 100%;
    height: 100%;
  }
  .section_seven_h2{
    margin-top: 0;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    /* border: 2px solid black; */
  }
  .section_seven_ul{
    margin-left: 3%;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 30px;
  }
  .get_udemy_btn{
    background-color: rgb(5, 5, 5);
    width: 170px;
    height: 45px;
    font-weight: bold;
    margin-bottom: 3%;
    color: #f6f8f6;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid rgb(41, 39, 39);
  }
  .learn_more_btn{
    background-color: rgba(255, 255, 255, 0);
    width: 110px;
    height: 45px;
    font-weight: bold;
    margin-bottom: 3%;
    border: 1px solid rgb(41, 39, 39);
  }

  /* section eight */
  .section_eight{
    padding-bottom: 8% ;
  }
  .section_eight_text{
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 30px;
  }
  .section_eight_text_wrapper{
    margin-top: 7%;
  }

  /* section nine-FOOTER */
  footer{
    height: 50vh;
    background-color: #1c1d1f;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .flex_nine{
    padding-top: 1%;
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
    gap:5%;
    font-size: 15px;
    font-size: 13px;
    align-items: center;
  }

  .footer_p{
    text-decoration: none;
    color: white;
  }
  .copy_right{
    font-size: 12px;

  }
  .button_nine {
    font-size: 1.2em;
    padding: 8px;
    color: rgb(252, 248, 248);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .language_box{
    display: flex;
    border: 1px solid white;
    width: 120px;
    height: 45px;
  }
  .language_box>.globe{
    color: white;
    background-color: #02020200;
    /* padding: 20px; */
  }
 
 .last_logo{
  width: 100px;
  height: 70px;
  }
  .footer_logo_div{
    margin-top: 50px;
    display: flex;
    gap: 60%;
    justify-content: space-around;
    background-color: #0c0c0c00;
  }
  .copy_right{
    color: white;
  }
/* modal */
.modal_items{
  text-decoration: none;
  color: #020202;
}

  /* hover effects */
  .category__tooltip:hover .category__tooltiptext {
    visibility: visible;
  }
  .category__tooltip:hover {
    color: rgb(135, 9, 238);
  }
  .udemy_business:hover {
    color: rgb(135, 9, 238);
  }
  
  .teach_on_udemy:hover {
    color: rgb(135, 9, 238);
  }

  .sub_category__tooltiptext:hover{
    color: rgb(135, 9, 238);
  }
  .cat_tooltext:hover {
    color: rgb(135, 9, 238);
  }
  .fa-shopping-cart:hover{
    color: rgb(135, 9, 238);
  }
  .login_btn:hover{
    background-color: rgb(240, 240, 243);
  }
  .globe:hover{
    background-color: rgb(240, 240, 243);
  }
  .course:hover{
   color: rgb(2, 2, 2);
  }
  .video__box:hover{
    background-color: rgba(64, 56, 80, 0.199);
   }
   .white_Python_btn:hover{
    background-color: rgb(240, 240, 243);
  }
   .explore_btn:hover{
    background-color: rgb(240, 240, 243);
  }
  .footer_p:hover{
    text-decoration: underline;
  }
  .button_nine:hover{
    background-color: rgba(229, 224, 238, 0.199);
  }
  .language_box>.globe:hover{
    background-color: rgba(229, 224, 238, 0.199);
  }
  .modal_items:hover{
    color: rgb(33, 15, 194);
   }


@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}